{% extends 'base.html' %}

{% block title %}MoviePlanet | Редирект...{% endblock %}
{% block description %}Все фильмы и сериалы можно смотреть онлайн через нашего Telegram-бота совершенно бесплатно.{% endblock %}

{% block body %}
        <main>
            <section>
                <img src="{{ url_for('static',filename='img/logo.png') }}" alt="MoviePlanet">
                <h1>Просмотр начнется через: <span class="time">5</span></h1>
            </section>
        </main>
        <script>
            function timer(i) {
                console.log(i);
                $('.time').html(i);
            }

            function redirect() {
                window.location.href = '{{ q }}';
            }

            setTimeout(redirect, 5000);

            $(document).ready(function() {
                for (let i = 0; i < 6; i++) {
                    setTimeout(timer, 1000 * i, 5 - i);
                }
            });
        </script>
{% endblock %}