{% extends 'base.html' %}

{% block title %}MoviePlanet | 404{% endblock %}
{% block description %}Страшно, очень страшно, мы не знаем, что это такое, если бы мы знали, что это такое, мы не знаем, что это такое.{% endblock %}

{% block body %}
  <main>
    <section>
      <img src="{{ url_for('static',filename='img/logo.png') }}" alt="MoviePlanet">
      <h1 class="error">{{ error_code }}</h1>
      <a href="/">Вернуться на главную.</a>
      <section>
        <p>Страшно, очень страшно 😱, мы не знаем 🤷‍♂️, что это такое, если бы мы знали 🤓, что это такое 🤔, мы не знаем 🤷‍♂, что это такое 😔.</p>
        <p style="color:#999999;font-size: 14px;line-height: 20px;">При своей необразованности мы можем предположить 🧐, что это диверсия какая-то!</p>
      </section>
    </section>
  </main>
{% endblock %}